img {
  width: 10%;
}

/* .item {
  position: relative;
}

.overlay {
  position: absolute;
  opacity: 1;
  right: 0;
  bottom: 0;
  height: 20%;
  -webkit-align-self: center;
  align-self: center;
  z-index: 1;
} */
