.homepage {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1fr);
  align-content: center;
}

.lang-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

/* h2 {
  color: #d4f1f4;
} */
